parameters:
    level: 7
    ignoreErrors:
        - identifier: missingType.iterableValue
    paths:
        - src
        - tests
    excludePaths:
        - src/Command
    bootstrapFiles:
        - bootstrap.php
