name: PHP Composer

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'

    - name: Composer
      uses: ramsey/composer-install@v3
      with:
        composer-options: "--prefer-dist"

    - name: Mock config file
      run: echo -e "<?php\n\nreturn [];" >> config.php

    - name: Run test suite
      run: composer test

    - name: Run lint
      run: composer lint

    - name: Run static analysis
      run: composer stan
